@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    font-family: 'Nanum Gothic', sans-serif;
}

html, body {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
}

main {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: calc(100% - 60px);
}

#title {
    padding: 5px;
    font-size: 20px;
    border: 5px solid #F4D284;
    text-align: center;
}

#sidebar {
    border: 5px solid #EDE6C5;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 10px;
    width: 120px;
}

.addButton {
    background-color: #F4D284;
    border-color: transparent;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10px;
    cursor: pointer; /*마우스를 갖다대면 손모양으로*/
    color: black;
}

.addButton:hover {
    background-color: #EDE6C5;
}

#sidebar > span {
    padding: 5px;
    font-size: 15px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.label {
    margin-bottom: 10px;
}

.input {
    margin-bottom: 10px;
    height: 30px;
    border: 2px solid #EDE6C5;    
}

.input:focus {
    border: 2px solid #F4D284;
    outline: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*가운데 정렬*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 320px;
    background-color: white;
    padding: 20px 30px;
    border-radius: 5px;
}


.xButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;

}

.xButton:hover {
    color: #F4D284;
}

.submitbtn {
    margin-top: 10px;
    background-color: #F4D284;
    border-color: transparent;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    width: 100%;
}

#container {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    border: 5px solid #d7e1e9;
    padding: 5px;
    overflow-y: scroll;
    margin-left: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    background-color: #F4D284;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    height: 140px;
    width: 150px;
}

.item > img {
    width: 100%;
    height: 115px;
    margin-bottom: 10px;
}

.item > span {
    text-align: center;
    font-size: 13px;
    word-break: break-all;
}

@media (max-width: 1000px) {
    .item {
        background-color: #f4e3dc;
    }
}

@media (max-width: 760px) {
    .item {
        background-color: #EDE6C5;
    }
}

